@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Baloo Da 2', cursive;
    color: black;
}

.container {
    @apply max-w-7xl mx-auto px-2 sm:px-6 lg:px-8;
}

a, a:hover {
    color: inherit;
}