@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Baloo Da 2', cursive;
    color: black;
}

a,
a:hover {
    color: inherit;
}

.anticon svg {
    display: block !important;
}

button:focus {
    outline: none;
}

.course-spinner {
    height: calc(100vh - 100px);
}

#nav{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}
#toggle{
    position: fixed;
    top: 17px;
    right: 52px;
    visibility: hidden;
}

/* responsive */

@media(max-width:600px){
    .menu-item{
       position: fixed;
       top: 57px;
       right: -150px;
       display: flex;
       flex-direction: column;
       background-color: white;
       height: 100%;
       width: 150px;
       padding: 10px;
       box-shadow: -1px 0px 2px #888888;
       transition: 0.7s ease;
       
    }
    .active{
        right: 0;
    }
    #btn1{
        margin: 0;
        margin-top: 10px;
        width: fit-content;
    }
    #toggle{
        visibility: visible;
        z-index: 99;
    }
    #nav{
        padding: 0px 50px;
    }
}